@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item me-3">
        <span class="navbar-text text-dark">@User.Identity.Name</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">Profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="ChangePassword">Mot de passe</a>
    </li>
    <li class="nav-item">
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-link nav-link p-0 border-0">Se deconnecter</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Login">Connexion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Inscription</a>
    </li>
}
